
h1 {
    text-align: center;
    color: #11289a;
    letter-spacing: 5px;
    line-height: 85px;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    text-align:  right;
    color: rgb(7, 70, 89);
    letter-spacing: 1px;
    line-height: 3em;
    font-family: fantasy;
    font-size: 20;
    font-weight: 900;
}


h2 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.mi-lista {
    color: brown;
}

ol {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-image: url(cheque.png);
    list-style-position: inside;
}

ul { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}